<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.codepond.android.wizardroid"
    android:versionCode="1"
    android:versionName="1.0-SNAPSHOT" >
    
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity android:name="com.vsocrates.aftercare.main.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.codepond.android.wizardroid.sample.wizards.TutorialWizard" />
        <activity android:name="org.codepond.android.wizardroid.sample.wizards.FormWizard" />
        <activity
            android:name="com.vsocrates.aftercare.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.vsocrates.aftercare.BaseCamp"
            android:label="@string/title_activity_base_camp" >
        </activity>
        <activity
            android:name="com.vsocrates.aftercare.personalinfo.MyPersonalInfo"
            android:label="@string/title_activity_my_personal_info"
            android:parentActivityName="com.vsocrates.aftercare.BaseCamp" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vsocrates.aftercare.BaseCamp" />
        </activity>
        <activity
            android:name="com.vsocrates.aftercare.MyProfileAndTreatment"
            android:label="@string/title_activity_my_profile_and_treatment"
            android:parentActivityName="com.vsocrates.aftercare.BaseCamp" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vsocrates.aftercare.BaseCamp" />
        </activity>
        <activity
            android:name="com.vsocrates.aftercare.personalinfo.PersonalInfoStep1"
            android:label="@string/title_activity_personal_info_step1"
            android:parentActivityName="com.vsocrates.aftercare.personalinfo.MyPersonalInfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vsocrates.aftercare.MyPersonalInfo" />
        </activity>
        <activity
            android:name="com.vsocrates.aftercare.personalinfo.PersonalInfoStep2"
            android:label="@string/title_activity_personal_info_step2"
            android:parentActivityName="com.vsocrates.aftercare.personalinfo.MyPersonalInfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vsocrates.aftercare.MyPersonalInfo" />
        </activity>
        <activity
            android:name="com.vsocrates.aftercare.personalinfo.PersonalInfoStep3"
            android:label="@string/title_activity_personal_info_step3"
            android:parentActivityName="com.vsocrates.aftercare.personalinfo.MyPersonalInfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vsocrates.aftercare.MyPersonalInfo" />
        </activity>
        <activity
            android:name="com.vsocrates.aftercare.myprofileandtreatment.MyProfile"
            android:label="@string/title_activity_my_profile"
            android:parentActivityName="com.vsocrates.aftercare.BaseCamp" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vsocrates.aftercare.BaseCamp" />
        </activity>
        <activity
            android:name="com.vsocrates.aftercare.myprofileandtreatment.MyProfileStep1"
            android:label="@string/title_activity_my_profile_step1"
            android:parentActivityName="com.vsocrates.aftercare.myprofileandtreatment.MyProfile" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vsocrates.myprofileandtreatment.MyProfile" />
        </activity>
        <activity
            android:name="com.vsocrates.aftercare.myprofileandtreatment.MyProfileStep2"
            android:label="@string/title_activity_my_profile_step2"
            android:parentActivityName="com.vsocrates.aftercare.myprofileandtreatment.MyProfile" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vsocrates.myprofileandtreatment.MyProfile" />
        </activity>
        <activity
            android:name="com.vsocrates.aftercare.myprofileandtreatment.MyProfileStep3"
            android:label="@string/title_activity_my_profile_step3"
            android:parentActivityName="com.vsocrates.aftercare.myprofileandtreatment.MyProfile" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vsocrates.aftercare.myprofileandtreatment.MyProfile" />
        </activity>
        <activity
            android:name="com.vsocrates.aftercare.myprofileandtreatment.MyProfileStep4"
            android:label="@string/title_activity_my_profile_step4"
            android:parentActivityName="com.vsocrates.aftercare.myprofileandtreatment.MyProfile" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vsocrates.aftercare.myprofileandtreatment.MyProfile" />
        </activity>
        <activity
            android:name="com.vsocrates.aftercare.myprofileandtreatment.MyProfileSummary"
            android:label="@string/title_activity_my_profile_summary"
            android:parentActivityName="com.vsocrates.aftercare.myprofileandtreatment.MyProfile" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vsocrates.aftercare.myprofileandtreatment.MyProfile" />
        </activity>
    </application>

</manifest>
